<mat-toolbar color="primary">
  <button mat-button
          [routerLink]="['/home']"
          routerLinkActive="active"
  >
    Basics
  </button>
  <button mat-button
          routerLinkActive="active"
          [routerLink]="['/dom/1']"
          [queryParams]="{get:2}"
          [fragment]="'section'"
  >
    Dom {{dt}}
  </button>
  <button mat-button
          routerLinkActive="active"
          [routerLink]="['/communicate']"
  >
    Communicate
  </button>
  <button mat-button
          routerLinkActive="active"
          [routerLink]="['/l-c-hooks']"
  >
    Life cycle hooks
  </button>
  <button mat-button
          routerLinkActive="active"
          [routerLink]="['/forms']"
  >
    Forms
  </button>
  <button mat-button
          routerLinkActive="active"
          [routerLink]="['/pipes']"
  >
    Pipes
  </button>
  <button mat-button
          routerLinkActive="active"
          [routerLink]="['/http']"
  >
    Http
  </button>
  <button mat-button
          routerLinkActive="active"
          [routerLink]="['/dynamic']"
  >
    Dynamic
  </button>
  <button mat-button
          routerLinkActive="active"
          [routerLink]="['/animations']"
  >
    Animations
  </button>
  <button mat-button
          (click)="goTo()"
  >go to basics Programmatically
  </button>
  <button mat-button
          (click)="goToFragQParams()"
  >go to basics Programmatically With Fragments and Query Params
  </button>
</mat-toolbar>
